<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.display_name %>!</h1>
    <p>
      Seja bem-vindo a Nobe Solutions! Estamos muito felizes em ter você conosco.
    </p>
    <p>
      Seu nome de usuário é: <strong><%= @user.username %></strong>.
    </p>
    <p>Aproveite a plataforma!</p>
    <p>Abraços,<br>Equipe Nobe Solutions</p>
  </body>
</html>